html{
    width: auto;
    height: 100vh;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
h2, p{
    margin: 0;
    padding: 0;
}
.hero{
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding: 0 250px;
    flex: 1;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
header p{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
} 
li a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}
.hero-image, .hero-text{
    width: 550px;
    height: 225px;
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #686d77;
    color: #e5e7eb;
}
.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 125px 0;
    gap: 50px;
}

.hero-text h2{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 50px 0;
}
.cards-images{
    display: flex;
    flex: 1;
    gap: 50px;
    justify-content: center;
}
.cards{
    width: 175px;
    height: 175px;
    border: 4px solid #3882f6;
    border-radius: 14px; 
}

.cards-text{
    display: flex;
    flex: 1;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;

}
.cards-text p{
    width: 175px;
    border: 4px solid white;
}
.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 375px;
}
.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quote-author{
    font-size: 24px;
    font-weight: bolder;
    text-align: end;
}
footer{
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
}